<%- model_class = Trip -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<%= render 'list' %>

<%= link_to 'Organise',
            new_trip_path,
            :class => 'btn btn-primary' %>
